In [1]:
banks = {
'JP Morgan Chase': 327,
'Bank of America': 302,
'Citigroup': 173,
'Wells Fargo': 273,
'Goldman Sachs': 87,
'Morgan Stanley': 72,
'U.S. Bancorp': 83,
'TD Bank': 108,
'PNC Financial Services': 67,
'Capital One': 47,
'FNB Corporation': 4,
'First Hawaiian Bank': 3,
'Ally Financial': 12,
'Wachovia': 145,
'Republic Bancorp': .97}

print(f'Dictionary: {banks}')

Dictionary: {'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 173, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Wachovia': 145, 'Republic Bancorp': 0.97}

In [2]:
banks["Citigroup"] = 170
print(banks)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 170, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Wachovia': 145, 'Republic Bancorp': 0.97}

In [3]:
banks['American Express'] = 33
print(banks)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 170, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Wachovia': 145, 'Republic Bancorp': 0.97, 'American Express': 33}

In [4]:
del banks['Wachovia']
print(banks)

{'JP Morgan Chase': 327, 'Bank of America': 302, 'Citigroup': 170, 'Wells Fargo': 273, 'Goldman Sachs': 87, 'Morgan Stanley': 72, 'U.S. Bancorp': 83, 'TD Bank': 108, 'PNC Financial Services': 67, 'Capital One': 47, 'FNB Corporation': 4, 'First Hawaiian Bank': 3, 'Ally Financial': 12, 'Republic Bancorp': 0.97, 'American Express': 33}

In [5]:
total = 0
count = 0
average = 0

minimum_key = ''
minimum_value = 0

maximum_key = ''
maximum_value = 0

mega_cap = []
large_cap = []
mid_cap = []
small_cap = []

In [6]:
for name, mar_cap in banks.items():
    
    #Total market capitalization
    total += int(mar_cap)
    
    #number of banks 
    count += 1
    
    #Smallest bank
    if minimum_value == 0:
        minimum_value = mar_cap
        minimum_key = name
    elif mar_cap < minimum_value:
        minimum_value = mar_cap
        minimum_key = name
        
    #largest bank
    if mar_cap > maximum_value:
        maximum_value = mar_cap
        maximum_key = name
        
    if mar_cap >= 300:
        mega_cap.append(name)
    elif mar_cap <= 299 and mar_cap >= 10:
        large_cap.append(name)
    elif mar_cap <= 9 and mar_cap >= 2:
        mid_cap.append(name)
    elif mar_cap <= 1 and mar_cap >= .30:
        small_cap.append(name)
    
#Average market capitalization
average = round(total / count, 2)

print(f'Total market capitalization: {total}')
print(f'Number of banks: {count}')
print(f'Smallest bank: {minimum_key}')
print(f'Largest bank: {maximum_key}')
print(f'Average market capitalization: {average}')
print(f'Mega Cap: {mega_cap}')
print(f'Large Cap: {large_cap}')
print(f'Mid Cap: {mid_cap}')
print(f'small Cap: {small_cap}')

Total market capitalization: 1588
Number of banks: 15
Smallest bank: Republic Bancorp
Largest bank: JP Morgan Chase
Average market capitalization: 105.87
Mega Cap: ['JP Morgan Chase', 'Bank of America']
Large Cap: ['Citigroup', 'Wells Fargo', 'Goldman Sachs', 'Morgan Stanley', 'U.S. Bancorp', 'TD Bank', 'PNC Financial Services', 'Capital One', 'Ally Financial', 'American Express']
Mid Cap: ['FNB Corporation', 'First Hawaiian Bank']
small Cap: ['Republic Bancorp']

In [7]:
#mega-cap: Market capitalization greater than or equal to $300 billion.


#large-cap: Market capitalization greater than or equal to $10 billion and less than $300 billion.


#mid-cap: Market capitalization greater than or equal to $2 and less than $10 billion.


#small-cap: Market capitalization greater than or equal to $300 million and less than $2 billion.